* {
    padding: 0;
    margin: 0;
}

/* Navigation bar styles */
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    text-align: center;
    background-color: gainsboro
}

nav a {
    padding: 10px  15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    
}

ul {
    list-style: none;
}

/* Main content styles */
main {
    text-align: center;
    border: 1px solid red;
    margin: 50px;
}

.about-me {
    margin: 20px 350px 20px 350px;
}

hr {
    width: 
}

img {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

/* Form styles  */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }